<div class="form">
  <%= simple_form_for [@restaurant] do |f| %>
    <%= f.input :name, label: "Name of the Restaurant" %>
    <%= f.input :address, label: "Address of the Restaurant" %>
    <%= f.input :phone_number, label: "Phone number of the Restaurant" %>
    <%= f.input :category, label: "Food category", collection: ["french", "chinese", "belgian", "italian", "japanese"] %>
    <%= f.submit "Create restaurant page", class: "btn btn-primary" %>
  <% end %>
</div>
<%= link_to 'Back', restaurants_path %> |
